.o-btn-menu {
  position: relative;
  overflow: hidden;
  background: $white025;
  height: 256px;
  width: 400px;
  border-width: 0;
  box-shadow: 4px 4px 10px $shadowColor;
  padding: 0;
  text-align: left;
  border-radius: 16px;
  transition: transform 200ms;

  .o-ico {
    top: 40% !important;
  }

  &__title {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $black05;
    position: absolute;
    transition: 200ms ease-in-out background-color;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    box-sizing: border-box;
    padding: 8px 24px;
    margin-bottom: -1px;
  }

  &:hover {
    transform: scale(1.03);

    .o-btn-menu__title {
      background-color: rgba(black, 0.8);
      border: none;
    }
  }

  &:focus {
    outline: none;
  }
}