@mixin btnIco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  line-height: 0;


  .o-ico {
    width: 24px;
    height: 24px;
  }
}

.o-btn-ico {
  @include btnIco;

  &:hover {
    transform: scale(1.05);

    .o-ico {
      fill: white;
    }
  }

  &:disabled {
    cursor: unset;

    .o-ico {
      fill: $white025;
    }

    &:hover {
      transform: unset;
    }
  }

  &--search {
    @include btnIco;
    padding: 10px;
    background: none;
    border: none;
    height: unset;
    width: unset;
    border-radius: 4px 4px 0 0;
    transition: all 200ms ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }

  &--delete {
    @include btnIco;
    background-color: black;
    border-radius: 50%;
    //border: 2px solid rgba( $warning,0.5);
    border: 2px solid $white05;
    width: 48px;
    height: 48px;

    transition: all 200ms ease-in-out;

    .o-ico {
      fill: $txtColor;
      width: 16px;
      height: 16px;
    }

    &:hover {
      border-color: $warning;
      background-color: $warning;

      .o-ico {
        fill: black;
      }
    }
  }
}

.o-btn-more {
  display: flex;
  margin-top: 84px;
  background: none;
  border: none;
  transition: all 200ms;
  border-radius: 4px;
  z-index: 2;

  &__dot {
    display: flex;
    margin: 16px 8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    transition: background-color 200ms ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    .o-btn-more__dot {
      background: white;
    }
  }

  &:focus {
    outline: none;

    .o-btn-more__dot {
      background-color: white;

    }
  }
}

.o-btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 0.8;
  transition: all 200ms;
  height: 64px;
  width: 64px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 5;

  .o-ico {
    width: 24px;
    height: 24px;
    fill: white;
  }

  &:hover {
    outline: none;
    opacity: 1;
    background: white;

    .o-ico {
      fill: black;
    }
  }

  &--left {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 200ms;
    height: 64px;
    width: 64px;
    position: fixed;
    bottom: 32px;
    left: 32px;
    z-index: 5;

    .o-ico {
      width: 24px;
      height: 24px;
      fill: white;
    }

    &:hover {
      outline: none;
      opacity: 1;
      background: white;

      .o-ico {
        fill: black;
      }
    }
  }
}

@mixin btn {
  display: flex;
  align-items: center;
  color: $txtColor;
  line-height: 0;
  border: 1px solid $txtColor;
  border-radius: 8px;
  padding: 10px 16px;
  transition: all 200ms ease-in-out;

  .o-ico {
    margin-right: 8px;
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    color: black;
    background-color: white;
    border-color: white;

    .o-ico {
      fill: black;
    }
  }
}

.o-btn {
  @include btn;

  &--warning {
    @include btn;

    .o-ico {
      margin-bottom: unset;
      width: 18px;
      height: 18px;
    }


    &:hover {
      background-color: $warning;
      border-color: $warning;
    }
  }
}

.o-btn-form {
  padding: 9px 16px;
  font-size: $t1;
  color: $txtColor;
  background-color: $blue;
  text-align: center;

  &:hover {
    background-color: $blueBright;
  }
}






