.o-main-title {
  display: flex;
  align-items: flex-start;
  color: white;

  .o-ico {
    width: 32px;
    height: 32px;
  }

  &__text {
    font-size: $t3;
    font-weight: 400;
  }
}

@mixin title {
  font-size: $t3;
  font-weight: 300;
  border-bottom: 1px solid $white05;
  padding-bottom: 4px;
  margin-bottom: 4px;
  color: $txtColor;
}

@mixin titleL2 {
  @include title;
  border-color: $white025;
  font-size: $t2;
}

.o-title-l1 {
  @include title;

  &--center {
    @include title;
    text-align: center;
  }

  &--simple {
    color: $txtColor;
    font-size: $t2;
    font-weight: 300;
  }
}

.o-title-l2 {
  @include titleL2;

  &--center {
    @include titleL2;
    text-align: center;
  }

  &--simple {
    font-size: $t1;
    font-weight: 400;
    color: $txtColor;
  }
}