.c-modal-backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(70, 70, 70, 0.85);
  z-index: 10;
  opacity: 1;
}

.c-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 64px 64px 64px;
  background: black;
  box-shadow: 0 0 8px $shadowColor;
  box-sizing: border-box;
  max-width: 1006px;
  min-width: 512px;

  &__close {
    position: absolute;
    right: -24px;
    top: -24px;
  }

  &__body {
    &--connect {
      .connect__header{
        margin: 16px 0;
        font-size: $t1;
        font-weight: 500;
      }

      .connect__input{
        padding-bottom: 8px;
      }
    }

    &--text {
      letter-spacing: 1.5px;
      font-size: $t1;
      font-weight: 200;
      line-height: 1.5;
    }

    &--image {
      max-width: 100%;
      max-height: 600px;
    }
  }


}