.c-search {
  display: flex;

  &__label {
    display: none;
  }

  &__input {
    color: $txtColor;
    padding: 0 48px 0 4px;
    box-sizing: border-box;
    width: 256px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    margin-left: -44px;
  }
}


