$minWidth: 350px;

// Fonts Size
$t3: 2rem;
$t2: 1.5rem;
$t1: 1.25rem;
$fontSize: 16px;
$s1: 0.75rem;

$txtColor: #cccccc;
$bgrColor: #000;
$bgrCard: rgba(0, 0, 0, 0.9);
$shadowColor: rgba(0, 0, 0, 0.5);
$white05: rgba(255, 255, 255, 0.5);
$white025: rgba(255, 255, 255, 0.25);
$black05: rgba(31, 31, 31, 0.5);
$blue: rgb(22, 84, 129);
$blueBright: rgb(18, 100, 160);
$warning: rgb(172, 0, 0);

