.l-car-details-wrap {
  display: flex;
  align-items: center;
  padding: 236px 128px 64px 128px;

}

.l-car-details {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: $bgrCard;
  padding: 16px 64px 64px 64px;
  font-size: $t1;

  &__delete-all {
    position: absolute;
    right: -24px;
    top: -24px;

  }

  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 48px;

    .o-car-thumb{
      margin-top: -80px;
    }

    .header__info {
      width: 100%;
      
      &-data{
        position: relative;
        display: grid;
        margin-top: 20px;
        grid-template-columns: 320px 320px 1fr ;
        column-gap: 24px;
        row-gap: 20px;

        &-edit{
          position: absolute;
          right: 4px;
          top: 12px;
        }
      }
    }
  }

  &__content {
    margin-top: 32px;
  }

  &__action {
    display: flex;
    align-items: center;
    min-height: 52px;
  }
}