.l-menage-car-wrap {
  display: flex;
  align-items: center;
  padding: 236px 128px 64px 128px;

}

.l-menage-car {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: $bgrCard;
  padding: 16px 64px 64px 64px;

  &__content {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 64px;
    margin-top: 32px;

    .content {
      &__image {
        position: relative;
        display: flex;
        //flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 256px;
        width: 100%;
        background-color: rgba(#cccccc, 0.25);
        border-radius: 16px;
        border: transparent;
        overflow: hidden;

        &.dropzone {
        }


        .o-ico {
          fill: rgba(#000000, 0.5);
          margin-top: -16px;
          height: 120px;
          width: 180px;
        }

        .dz-message {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          width: 400px;
          height: 256px;
          box-sizing: border-box;
          padding-top: 190px;
          z-index: 10;

          color: #101010;
          font-size: $t1;
          font-weight: 600;
        }

        .dz-preview {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          background: unset;
          overflow: unset;
          width: 400px;
          height: 256px;
        }

        .dz-details{
          display: none;
        }

        .dz-image {
          border-radius: 0;
          width: 100%;
          height: 100%;
        }
      }

      &__form, &__deadlines-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        padding: 32px 0;
      }

      &__deadlines-form {
        grid-template-columns: 1fr;
      }
    }
  }
}
