.l-repair-info-wrap {
  display: flex;
  align-items: center;
  padding: 236px 128px 64px 128px;

}

.l-repair-info {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: $bgrCard;
  padding: 16px 64px 64px 64px;
  font-size: $t1;

  &__delete-all {
    position: absolute;
    right: -24px;
    top: -24px;

  }

  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 48px;

    .o-car-thumb {
      margin-top: -80px;
    }

    .header__info {
      width: 100%;

      &-title {
        position: relative;
        margin-top: 20px;
        text-align: center;
      }

      &-edit {
        position: absolute;
        right: 4px;
        top: 4px;
      }

      &-data {
        font-size: $t2;
        position: relative;
        display: grid;
        margin-top: 24px;
        grid-template-columns: 1fr;
        column-gap: 4px;
        row-gap: 24px;
      }
    }
  }

  &__content {
    margin-top: 32px;

    .content__notice {
      margin-top: 48px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    min-height: 52px;

    .o-ico {
      margin-bottom: unset;
      width: 18px;
      height: 18px;
    }

    .o-btn {
      margin-left: 16px;
    }

  }
}