.l-repair-info-wrap {
  display: flex;
  align-items: center;
  padding: 236px 128px 64px 128px;

}

.l-repair-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: $bgrCard;
  padding: 16px 64px 64px 64px;
  font-size: 1.5rem;

  &__header {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 48px;

    .header__image {
      margin-top: -80px;
      border-radius: 16px;
      box-shadow: 4px 4px 10px $shadowColor;
    }

    .header__info {
      width: 100%;

      &-title {
        position: relative;
        margin-top: 20px;
        text-align: center;
        font-size: 2.25rem;
      }
      &-edit{
        position: absolute;
        right: 4px;
        top: 4px;
      }

      &-data {
        text-align: center;
        display: grid;
        margin-top: 20px;
        grid-template-columns: 1fr  1fr;
        column-gap: 4px;
        row-gap: 12px;
      }
    }
  }

  &__content {
    margin-top: 32px;

    .content__notice {
      margin-top: 48px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    min-height: 52px;
  }
}