.u-spacer {
  flex: 1 1 0;
}

.u-ml--sm {
  margin-left: 16px;
}

.u-ml--sx {
  margin-left: 8px;
}

.u-mr--sm {
  margin-right: 16px;
}
.u-mr--sx {
  margin-right: 8px;
}

.u-mt--sm {
  margin-top: 16px;
}

.u-mt--xs {
  margin-top: 8px;
}

.u-p-4 {
  padding: 4px;
}

.u-pl-38 {
  padding-left: 38px;
}

.u-pr--la{
  padding-right: 48px !important;
}

.u-hide {
  display: none !important;
}

.u-half-hide{
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.u-transparent{
  opacity: 0;
}

.u-width--100 {
  width: 100%;
}

.u-width--m {
  width: 80px;
}

.u-mw--m {
  min-width: 80px !important;
}

.u-width--184px {
  width: 184px !important;
}

.u-text--center {
  text-align: center;
}
.u-text--right {
  text-align: right;
}

.u-round-r {
  border-radius: 0 6px 6px 0 !important;
}

.u-warning {
  color: $warning;
}

.u-cashGood {
  color: green;
}

.u-bold {
  font-weight: bold !important;
}

.u-d-flex {
  display: flex;
}

.u-flex-r {
  display: flex;
  justify-content: flex-end;
}

.u-d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-d-flex-top{
  display: flex;
  align-items: flex-start !important;
}

.u-z-index--2{
  z-index: 2;
}

.u-separator-m {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  margin-bottom: 4px;

}

.u-bt-solid{
  border-top-style: solid !important;
}

.u-txt-l {
  font-weight: 300;
}

.u-txt-b {
  font-weight: 500;
}

.u-is-hidden {
  animation: showing 200ms ease-in-out 1 reverse forwards;
}

.u-is-showing{
  animation: showing 200ms ease-in-out 1 forwards ;
}

@keyframes showing {
  from {opacity: 0;}
  to {opacity: 1;}
}

.u-col-parts{
  grid-template-columns: 32px 1fr  1fr 184px 128px 128px !important;
}
.u-col-repairs{
  grid-template-columns: 32px 1fr 256px 256px !important;
}