.u-spacer {
  flex: 1 1 0;
}

.u-ml--sm {
  margin-left: 16px;
}

.u-mr--sm {
  margin-right: 16px;
}

.u-mt--sm {
  margin-top: 16px;
}

.u-mt--xs {
  margin-top: 8px;
}

.u-tiext--rght {
  text-align: right;
}

.u-hide {
  display: none !important;
}

.u-width--m {
  width: 80px;
}

.u-text--center {
  text-align: center;
}

.u-round-r {
  border-radius: 0 6px 6px 0 !important;
}

.u-warning {
  color: rgb(172, 0, 0);
}

.u-cashGood {
  color: green;
}

.u-bold {
  font-weight: bold !important;
}

.u-d-flex {
  display: flex;
}

.u-flex-r {
  justify-content: flex-end;
}

.u-d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-separator-m {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  margin-bottom: 4px;

}

.u-txt-l {
  font-weight: 300;
}

.u-txt-b {
  font-weight: 500;
}

.u-is-hidden {
  animation: showing 200ms ease-in-out 1 reverse forwards;
}

.u-is-showing{
  animation: showing 200ms ease-in-out 1 forwards;
}

@keyframes showing {
  from {opacity: 0;}
  to {opacity: 1;}
}


