.u-spacer {
  flex: 1 1 0;
}

.u-ml--sm {
  margin-left: 16px;
}

.u-mr--sm {
  margin-right: 16px;
}

.u-mt--sm {
  margin-top: 16px;
}
.u-mt--xs {
  margin-top: 8px;
}

.u-tiext--rght {
  text-align: right;
}

.u-hide {
  display: none;
}

.u-width--m {
  width: 80px;
}

.u-text--center {
  text-align: center;
}

.u-round-r {
  border-radius: 0 6px 6px 0 !important;
}

.u-warning {
  color: rgb(172, 0, 0);
}

.u-cashGood {
  color: green;
}

.u-bold {
  font-weight: bold !important;
}

.u-d-flex {
  display: flex;
}

.u-d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
